{% load blog_tags %}
{% load static %}

<section id="content">
    <div class="content-wrap">

        <a href="#" class="button button-full button-purple center text-end header-stick bottommargin-lg">
            <div class="container clearfix">
                Canvas comes with Unlimited Customizations &amp; Options. <strong>Check Out</strong> <i class="icon-caret-right" style="top:4px;"></i>
            </div>
        </a>

        <div class="container clearfix">

            <div class="heading-block center">
                <h1>Recent Articles</h1>
                <span>We almost blog regularly about this &amp; that.</span>
            </div>
            
            {% if tag %}
            <div class="heading">
                <h2>Posts etiquetados con "{{ tag.name }}"</h2>
            </div>
            {% endif %}

            <!-- Posts
            ============================================= -->
            <div id="posts" class="row gutter-30">
                
                {% for post in posts %}
                <div class="entry col-12">
                    <div class="grid-inner">
                        <div class="entry-image">
                            <a href="{{ post.get_absolute_url }}" data-lightbox="image"><img src="{% if post.photo %} {{ post.photo.url }}{% else %} https://via.placeholder.com/800x450{% endif %}" alt="{{ post.title }}"></a>
                        </div>
                        <div class="">
                            <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
                        </div>
                        <div class="entry-meta">
                            <ul>
                                <li><i class="icon-calendar3"></i> {{ post.publish }}</li>
                                <li><a href="{{ post.get_absolute_url }}"><i class="icon-user"></i> {{ post.author }}</a></li>
                                <li><i class="icon-folder-open"></i>
                                    {% for tag in post.tags.all %}
                                        <a href="{% url "blog:post_list_by_tag" tag.slug %}">
                                        {{ tag.name }}
                                        </a>
                                        {% if not forloop.last %}, {% endif %}
                                        {% empty %}
                                        Sin tags
                                    {% endfor %}
                                </li>
                                <li><a href="{{ post.get_absolute_url }}#comments"><i class="icon-comments"></i> {% comment_count post.id %} Comments</a></li>
                            </ul>
                        </div>
                        <div class="entry-content">
                            <p>{{ post.body|safe }}</p>
                            <a href="{{ post.get_absolute_url }}" class="more-link">Read More</a>
                        </div>
                    </div>
                </div>
                {% empty %}
                    <p>No hay Post</p>
                {% endfor %}
                    
               

            </div><!-- #posts end -->

            <!-- Pager
            ============================================= -->
            {% include 'snippets/pagination-content.html' with page=posts %}
            <!-- .pager end -->

        </div>
    </div>
</section><!-- #content end -->