{% load blog_tags %}
<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">

            <div class="row gutter-40 col-mb-80">
                <!-- Post Content
                ============================================= -->
                <div class="postcontent col-lg-9">

                    <div class="single-post mb-0">

                        <!-- Single Post
                        ============================================= -->
                        <div class="entry clearfix">

                            <!-- Entry Title
                            ============================================= -->
                            <div class="entry-title">
                                <h2>{{ post.title }}</h2>
                            </div><!-- .entry-title end -->

                            <!-- Entry Meta
                            ============================================= -->
                            <div class="entry-meta">
                                <ul>
                                    <li><i class="icon-calendar3"></i> {{ post.publish }}</li>
                                    <li><a href="#"><i class="icon-user"></i> {{ post.author }}</a></li>
                                    <li><i class="icon-folder-open"></i> 
                                        {% for tag in post_tags %}
                                            <a href="{% url "blog:post_list_by_tag" tag.slug %}">
                                            {{ tag.name }}
                                            </a>
                                            {% if not forloop.last %}, {% endif %}
                                            {% empty %}
                                                Sin tags
                                        {% endfor %}
                                    </li>
                                    <li><a href="#comments"><i class="icon-comments"></i> {% comment_count post.id %} Comments</a></li>
                                </ul>
                            </div><!-- .entry-meta end -->

                            <!-- Entry Image
                            ============================================= -->
                            <div class="entry-image">
                               <img src="{% if post.photo %} {{ post.photo.url }}{% else %} https://via.placeholder.com/800x450{% endif %}" alt="{{ post.title }}">
                            </div><!-- .entry-image end -->

                            <!-- Entry Content
                            ============================================= -->
                            <div class="entry-content mt-0">

                                {{ post.body|safe }}
                                <!-- Post Single - Content End -->

                                <!-- Tag Cloud
                                ============================================= -->
                                <div class="tagcloud clearfix bottommargin topmargin">
                                    {% for tag in post_tags %}
                                            <a href="{% url "blog:post_list_by_tag" tag.slug %}">
                                            {{ tag.name }}
                                            </a>
                                            {% empty %}
                                                Sin tags
                                        {% endfor %}
                                </div><!-- .tagcloud end -->

                                <div class="clear"></div>

                                <!-- Post Single - Share
                                ============================================= -->
                                <div class="si-share border-0 d-flex justify-content-between align-items-center">
                                    <span>Share this Post:</span>
                                    <div>
                                        <a href="#" class="social-icon si-borderless si-facebook">
                                            <i class="icon-facebook"></i>
                                            <i class="icon-facebook"></i>
                                        </a>
                                        <a href="#" class="social-icon si-borderless si-twitter">
                                            <i class="icon-twitter"></i>
                                            <i class="icon-twitter"></i>
                                        </a>
                                        <a href="{% url 'blog:post_feed' %}" class="social-icon si-borderless si-rss">
                                            <i class="icon-rss"></i>
                                            <i class="icon-rss"></i>
                                        </a>
                                    </div>
                                </div><!-- Post Single - Share End -->

                            </div>
                        </div><!-- .entry end -->

                        <h4>Related Posts:</h4>

                        <div class="related-posts row posts-md col-mb-30">
                            
                            {% for post in similar_posts %}

                            <div class="entry col-12 col-md-6">
                                <div class="grid-inner row align-items-center gutter-20">
                                    <div class="col-4">
                                        <div class="entry-image">
                                            <a href="{{ post.get_absolute_url  }}"><img src="{% if post.photo %} {{ post.photo.url }}{% else %} https://via.placeholder.com/800x450{% endif %}" alt="{{ post.title }}"></a>
                                        </div>
                                    </div>
                                    <div class="col-8">
                                        <div class="entry-title title-xs">
                                            <h3><a href="{{ post.get_absolute_url  }}">{{ post.title }}</a></h3>
                                        </div>
                                        <div class="entry-meta">
                                            <ul>
                                                <li><i class="icon-calendar3"></i> {{ post.publish }}</li>
                                                <li><a href="{{ post.get_absolute_url  }}#comments"><i class="icon-comments"></i> {% comment_count post.id %}</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% empty %}
    							<p>Sin recomendaciones</p>
                            {% endfor %}

                        </div>

                        <!-- Comments
                        ============================================= -->
                        <div id="comments" class="clearfix">

                        {% with comments.count as total_comments %}
                            <h3 id="comments-title">
                                <span>{{ total_comments }}</span> comment{{ total_comments|pluralize }}
                            </h3>
                        {% endwith %}


                            <!-- Comments List
                            ============================================= -->
                            <ol class="commentlist clearfix">
								{% for comment in comments %}
                                <li class="comment even thread-even depth-1" id="li-comment-1">

                                    <div id="comment-1" class="comment-wrap clearfix">

                                        <div class="comment-meta">

                                            <div class="comment-author vcard">

                                                <span class="comment-avatar clearfix">
                                                <img alt='Image' src='https://0.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=60' class='avatar avatar-60 photo avatar-default' height='60' width='60' /></span>

                                            </div>

                                        </div>

                                        <div class="comment-content clearfix">

                                            <div class="comment-author">{{ comment.name }}<span><a href="#" title="Permalink to this comment">{{ comment.created }}</a></span></div>

                                            <p>{{ comment.body|linebreaks }}</p>

                                        </div>

                                        <div class="clear"></div>

                                    </div>

                                </li>
								{% empty %}
    							<p>There are no comments yet.</p>
								{% endfor %}

                            </ol><!-- .commentlist end -->

                            <div class="clear"></div>

                            <!-- Comment Form
                            ============================================= -->
                            <div id="respond">

                                <h3>Leave a <span>Comment</span></h3>

								{% if new_comment %}
								<h2>Your comment has been added.</h2>
							  	{% else %}

								  <form method="post">
									{% csrf_token %}
									{{ comment_form.as_p }}
                                    <div class="col-12 form-group topmargin">
                                        <button name="submit" type="submit" id="submit-button" tabindex="5" value="Submit" class="button button-3d m-0">Submit Comment</button>
                                    </div>
                                </form>
								{% endif %}

                            </div><!-- #respond end -->

                        </div><!-- #comments end -->

                    </div>

                </div><!-- .postcontent end -->

                <!-- Sidebar
                ============================================= -->
                <div class="sidebar col-lg-3">
                    <div class="sidebar-widgets-wrap">

                        <div class="widget clearfix">

                            <div class="tabs mb-0 clearfix" id="sidebar-tabs">

                                <ul class="tab-nav clearfix">
                                    <li><a href="#tabs-1">Popular</a></li>
                                    <li><a href="#tabs-2">Recent</a></li>
                                </ul>

                                <div class="tab-container">

                                    <div class="tab-content clearfix" id="tabs-1">
                                        <div class="posts-sm row col-mb-30" id="popular-post-list-sidebar">
                                            {% show_most_commented_posts 3 %}
                                        </div>
                                    </div>
                                    <div class="tab-content clearfix" id="tabs-2">
                                        <div class="posts-sm row col-mb-30" id="recent-post-list-sidebar">
                                           {% show_latest_posts 3 %}
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="widget clearfix">

                            <h4>Tag Cloud</h4>

                            <div class="tagcloud">
                                {% show_used_tags 5 %}
                            </div>

                        </div>

                    </div>
                </div><!-- .sidebar end -->
            </div>

        </div>
    </div>
</section>